.container {
    display: flex;
    justify-content: space-between;
}

.user-list {
    width: 40%!important;
    // width: 400px;
}

.highlight {
    color: red;
}

* {
    // font-family: cursive, 'Marck Script', Helvetica, sans-serif !important;
    // font-family: 'Roboto', sans-serif  !important;
    font-family: 'Dosis', sans-serif !important;
    // font-family: 'Pacifico', sans-serif !important;
    // font-size: 1.05em !important;
}

.container-messagelist-userlist {
    display: flex;
}


@media screen and (max-width: 800px) {
    .user-list-and-search {
        min-width: 90px !important;
        // flex-basis: 90px;
        max-width: 90px !important;
        // width: 90px;
    }
    .userlist--username {
        // transform: translateX(30px);
        position: relative;
        left: 30px;
        // display: none;
        // opacity: 0;
    }
    .online::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 28px;
        width: 10px;
        height: 10px;
        background: rgb(66, 183, 42);
        border: 2px solid white;
        display: block;
        border-radius: 50%;
    }
}

.new-message-counter {
    position: relative;
    top: -45px;
    left: 25px;
    width: 15px;
    height: 15px;
    background: yellow;
    border: 2px solid white;
    color: black;
    display: block;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
}


.message-input {
    width: calc(100% - 40px);
    margin: 20px;
    flex-grow: 5;
}

.message-list {
    // width: 60%;
    flex-grow: 1;
    overflow: auto;
    height: 70vh;
}

 @keyframes myanim {
    0% {
        background-color: rgb(209, 247, 153);
    } 
    100% {
        background-color: white;
    }
}

.unread_message_highlight {
    border-radius: 20px;
    animation: myanim 4s;
}

.message-list-and-input {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 85vh;
}

.image-in-message {
    padding: 5px;
    border-radius: 10px;
}

.user-list-and-search {
    width: 35vw;
}

.user-list {
    width: 100%!important;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.user {
    height: 56px;
    //style={{maxHeight: '56px!important', minHeight: '56px!important'}}
}



.age_birthday_cake {
 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background: lighten(#6B5344, 3%);
  border-radius: 100%;
  box-shadow: 0px 4px 0px #6B5344,
    				0px 8px 0px #6B5344,
    				0px 12px 0px #6B5344,
    				0px 16px 0px #6B5344,
    				0px 20px 0px #6B5344,
    				0px 24px 0px #6B5344,
    				0px 28px 0px #6B5344,
    				0px 32px 0px #EB9F9F,
    				0px 36px 0px #EB9F9F,
    				0px 40px 0px #F8ECC9,
    				0px 44px 0px #F8ECC9,
    				0px 48px 0px #F8ECC9,
    				0px 52px 0px #F8ECC9,
    				0px 56px 0px #6B5344,
    				0px 60px 0px #6B5344,
    				0px 64px 0px #6B5344,
    				0px 68px 0px #6B5344,
    				0px 72px 0px #6B5344,
    				0px 76px 0px #6B5344,
    				0px 80px 0px #6B5344;
  
  &:before {
    position: absolute;
    right: 0;
    top: 79px;
    left: -25px;
    margin: auto;
    content: "";
    width: 250px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 6px 0px rgba(0, 0, 0,.1);
    z-index: -1;
  }
  
  &:after {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0;
    bottom: 0;
    content: "28";
    font-family: "Open Sans";
    font-size: 3em;
    font-weight: bold;
    color: #E9F2F9;
    -webkit-text-stroke: 2px #fff;
    text-align: center;
  }
}

.age_birthday {
    background: rgb(234, 123, 123);
    border-radius: 50%;
    padding: 5px;
}