.container {
    display: flex;
    justify-content: space-between;
}

.user-list {
    width: 40%!important;
    // width: 400px;
}

.highlight {
    color: red;
}

* {
    // font-family: cursive, 'Marck Script', Helvetica, sans-serif !important;
    // font-family: 'Roboto', sans-serif  !important;
    font-family: 'Dosis', sans-serif !important;
    // font-family: 'Pacifico', sans-serif !important;
    // font-size: 1.05em !important;
}

.container-messagelist-userlist {
    display: flex;
}

@media screen and (max-width: 800px) {
    .user-list-and-search {
        min-width: 90px !important;
        max-width: 90px !important;
    }
    .userlist--username {
        // transform: translateX(30px);
        position: relative;
        left: 30px;
    }
    .online::after {
        content: "";
        position: relative;
        top: -12px;
        left: 28px;
        width: 10px;
        height: 10px;
        background: rgb(66, 183, 42);
        border: 2px solid white;
        display: block;
        border-radius: 50%;
    }
}


.message-input {
    width: calc(100% - 40px);
    margin: 20px;
    flex-grow: 5;
}

.message-list {
    // width: 60%;
    flex-grow: 1;
    overflow: auto;
    height: 70vh;
}

.message-list-and-input {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 85vh;
}

.user-list-and-search {
    width: 35vw;
}

.user-list {
    width: 100%!important;
    height: 65vh;
    // overflow-y: auto;
    overflow-x: hidden;
}
