.container {
    display: flex;
    justify-content: space-between;
}

.user-list {
    width: 40%!important;
    // width: 400px;
}

.highlight {
    color: red;
}

* {
    // font-family: cursive, 'Marck Script', Helvetica, sans-serif !important;
    // font-family: 'Roboto', sans-serif  !important;
    font-family: 'Dosis', sans-serif !important;
    // font-family: 'Pacifico', sans-serif !important;
    // font-size: 1.05em !important;
}

.container-messagelist-userlist {
    display: flex;
}


@media screen and (max-width: 800px) {
    .user-list-and-search {
        min-width: 90px !important;
        // flex-basis: 90px;
        max-width: 90px !important;
        // width: 90px;
    }
    .userlist--username {
        // transform: translateX(30px);
        position: relative;
        left: 30px;
        // display: none;
        // opacity: 0;
    }
    .online::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 28px;
        width: 10px;
        height: 10px;
        background: rgb(66, 183, 42);
        border: 2px solid white;
        display: block;
        border-radius: 50%;
    }
}

.new-message-counter {
    position: relative;
    top: -45px;
    left: 25px;
    width: 15px;
    height: 15px;
    background: yellow;
    border: 2px solid white;
    color: black;
    display: block;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
}


.message-input {
    width: calc(100% - 40px);
    margin: 20px;
    flex-grow: 5;
}

.message-list {
    // width: 60%;
    flex-grow: 1;
    overflow: auto;
    height: 70vh;
}

.message-list-and-input {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 85vh;
}

.user-list-and-search {
    width: 35vw;
}

.user-list {
    width: 100%!important;
    height: 85vh;
    // overflow-y: auto;
    overflow-x: hidden;
}

.user {
    height: 56px;
    //style={{maxHeight: '56px!important', minHeight: '56px!important'}}
}
