.profile-image {
    width: 100px;
}

.profile-wrapper {
    display: flex;
    width: 80vw;
    margin: auto;
}

.file-input {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.image-upload {
    height: 160px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // margin-right: 30px;
    // align-content: center;
    align-items: center;
}

.profile__item--change {
    display: flex;
    padding: 20px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}